<mat-nav-list (click)="onClose()">
    <a *ngIf="!isAuth" mat-list-item [routerLink]="['/signup']">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">SignUp</span>
    </a>
    <a *ngIf="!isAuth" mat-list-item [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
    <a *ngIf="isAuth" mat-list-item [routerLink]="['/training']">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Traning</span>
    </a>
    <mat-list-item *ngIf="isAuth" (click)="onLogout()">
      <button mat-icon-button>
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
  </mat-nav-list>