<section class="new-training" fxLayout fxLayoutAlign="center">
  <form *ngIf="!isLoading" (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
      <mat-card-content *ngIf="availableExercises" fxLayoutAlign="center">
        <mat-form-field appearance="fill">
          <mat-label>Available Exercies</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of availableExercises" value="{{exercise.id}}">{{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button *ngIf="availableExercises" type="submit" mat-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!availableExercises" type="button" mat-button (click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <section *ngIf="isLoading" fxFlex.xs="100%" fxFlex="400px">
    <h4 fxLayoutAlign="center">Fetching Exercises</h4>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </section>
</section>
